// vi: filetype=jsonc
{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "./src",
    "paths": {
      "@/*": [
        "./*"
      ]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true,
  "isModule": true,
  "env": {
    "targets": "node 12, > 0.25%, not dead"
  }
}
